/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoRegular.woff") format('woff');
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoMedium.woff") format('woff');
    font-weight: 500;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoBold.woff") format('woff');
    font-weight: 700;
}
*{
    padding: 0;
    margin: 0;
}
body{
    max-width: 1440px;
    width: 100%;
}
header{
    max-height: 80px;
    height: 100%;
}
nav{
    max-width: 1280px;
    width: 100%;
    height: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 2% auto;
}
h1{
    color: #22202E;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */
}
.navbar{
    max-width: 790px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.navbar p{
    color: #726E8D;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */
}
.nav_i{
    max-width: 80px;
    width: 100%;
    height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.m1{
    height: 758px;
    background: var(--Light-Grey, #F9F9F9);
    
}
.card1{
    max-width: 1172px;
    width: 100%;
    height: 661px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* margin: 2.2%; */
    padding: 3% 5.7%;
}
.card1_txt{
    max-width: 500px;
    width: 100%;
    padding-top: 2.7%;
}
.card1_head h1,p{
    color: var(--Dark-Primary, #2A254B);
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
}
.card1_head p{
    margin: 3% 0;
}
.strip1{
    max-width: 518px;
    width: 100%;
    height: 1px;
    background: #EBE8F4;
    margin: 7%0 0 0;
}
.c1_info h2{
    color: var(--Dark-Primary, #2A254B);
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 140%;
margin: 5% 0 0 0;
}
.c1_info p{
    color: var(--Dark-Primary, #2A254B);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%;
margin: 3% 0 0 0;
}
.c1_dmn{
    max-width: 324px;
    width: 100%;
    height: 129px;
}
.c1_dmn p{
    color: var(--Dark-Primary, #2A254B);
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
margin: 7% 0 0 0;
}
.dmn{
    color: var(--Dark-Primary, #2A254B);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */
max-width: 62px;
width: 100%;
height: 71px;
}
.all_dmn{
    max-width: 324px;
    width: 100%;
    height: 71px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 5% 0 0 0;
}
.dmn_strip{
    max-width: 1px;
    width: 100%;
height: 44px;
background: #EBE8F4;
margin: auto;
}
.c1_q p{
    color: var(--Dark-Primary, #2A254B);
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 33.6px */
margin: 2% 0;
}
.q{
    max-width: 122px;
    width: 100%;
    height: 52px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background: var(--White, #FFF);
}
.q img{
    width: 12px;
    height: 28px;
    margin: auto;
}
.q p{
    margin: auto;
    color: var(--Dark-Primary, #2A254B);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */
}
.c1_b{
    max-width: 392px;
    width: 100%;
    height: 60px;
    margin: 5.5% 0;
}
.b1{
    max-width: 163px;
    width: 100%;
    height: 60px;
    color: white;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */
border: none;
background-color: #2A254B;
}
.b2{
    max-width: 213px;
    width: 100%;
    height: 60px;
    color: #2A254B;

    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
line-height: 140%;
border: none ;
}

.m4 h2  {
    color: #2A254B;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* margin-left: 5.2%; */
    margin: 4% 0 1.6% 5.2%;
}
.m4_cards{
    max-width: 1280px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0.6% 5.5%;
}
.m4_c{
    color: var(--Dark-Primary, #2A254B);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%;
}
.m4_c p:nth-child(2){
    padding-top: 2.4%; 
}
.m4_c p:nth-child(3){
padding-top: 1%;
}
.m4_b{
    max-width: 199px ;
    width: 100%;
    height: 60px;
    border: none;
    background: var(--Light-Grey, #F9F9F9);
    color: #2A254B;

    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin: 2.4% 0 0 44%;
}

.m2{
    max-width: 1283px;
    width: 100%;
    height: 355px;
    margin: 10.5% 8% 0 8% ;
 
}
.m2 h2{
    color: var(--Dark-Primary, #2A254B);
font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 140%;
margin: 0 0% 0 35%;
}
.cards{
    margin-top: 3%;
    margin-left: 1%;
    max-width: 1244px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.m2_c1 h3{
color: var(--Dark-Primary, #2A254B);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 140%
}
.m2_c2 h3{
color: var(--Dark-Primary, #2A254B);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 140%
}
.m2_c3 h3{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%
    }
.m2_c4 h3{
        color: var(--Dark-Primary, #2A254B);
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
    }    
.m2_c1, .m2_c2, .m2_c3, .m2_c4 p{
    color: var(--Dark-Primary, #2A254B);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%;
}

.m2_c1{
    max-width: 270px;
    width: 100%;
    height: 160px;
    /* grid-column: 1; */
    /* grid-row: 2; */
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 16px;

    
}
.m2_c2{
    max-width: 270px;
    width: 100%;
    height: 160px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 16px;

}
.m2_c3{
    max-width: 270px;
    width: 100%;
    height: 160px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 16px;
}
.m2_c4{
    max-width: 270px;
    width: 100%;
    height: 160px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 16px;
}
.m2 h2{
    color: var(--Dark-Primary, #2A254B);
font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 140%;
-ms-grid-column: 5;
-ms-grid-column-span: 6;
grid-column: 5/11;
    -ms-grid-row: 1;
    grid-row: 1;
}
/* .m5{
    background-color: #F9F9F9;
    height: 481px;
    position: relative;
    padding-top: 0.1%;
    margin-top: 3%;
} */
.m5{
    height: 521px;
    
}
.m5_c{
    height: 521px;
    background-color: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 11.5%;
}

.m5_c p:nth-child(1){
    color: var(--Dark-Primary, #2A254B);
text-align: center;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 140%;
padding-top: 17%;
}
.m5_c p:nth-child(2){
    color: var(--Dark-Primary, #2A254B);
text-align: center;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%;
max-width: 470px;
width: 100%;
padding: 6% 0;
/* padding: 1.3% 32%; */

}
.m5_c input{
    max-width: 341px;
    width: 100%;
    height: 60px;
    border: none;
    background-color: #F9F9F9;
 
}
.m5_form{
    max-width: 472px;
    width: 100%;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 38% 0;
    /* margin: 5% 32%; */
}
.m5f::-webkit-input-placeholder{
    color: var(--Dark-Primary, #2A254B);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%;
/* margin: 10px; */
opacity: 0.2;
/* padding: 10%; */
}
.m5f::-moz-placeholder{
    color: var(--Dark-Primary, #2A254B);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%;
/* margin: 10px; */
opacity: 0.2;
padding: 10%;
/* margin: 20%; */
}
.m5f:-ms-input-placeholder{
    color: var(--Dark-Primary, #2A254B);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%;
/* margin: 10px; */
opacity: 0.2;
padding: 10%;
/* margin: 20%; */
}
.m5f::-ms-input-placeholder{
    color: var(--Dark-Primary, #2A254B);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%;
opacity: 0.2;
}
.m5f::placeholder{
    color: var(--Dark-Primary, #2A254B);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%;
margin: 10px;
opacity: 0.2;
padding: 5%;
}
.m5_form button{
    max-width: 131px;
    width: 100%;
    height: 60px;
    border: none;
    background-color: #2A254B;
    color: var(--White, #FFF);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%;
}

footer{
    background-color: #2A254B;
    height: 414px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.f1{
    max-width: 554px;
    width: 100%;
    height: 198px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    margin: 4% 0 0 6%;
}
.f1_c p{
    color: var(--White, #FFF);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%;
}
.f1_c p{
    padding-bottom: 10%;
}
.f1_c p:nth-child(1){
    color: var(--White, #FFF);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 140%;

}
.f1_form{
    max-width: 650px;
width: 100%;
margin: 4% 0 0 6%;
}
.f1_form p{
    color: var(--White, #FFF);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 140%;
margin-bottom: 1%;
}
.form_f{
    max-width: 627px;
width: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;

}
.f{
    max-width: 496px;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.15);
    border: none;
}
.f::-webkit-input-placeholder{
    color: var(--White, #FFF);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
padding: 7%;
}
.f::-moz-placeholder{
    color: var(--White, #FFF);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
padding: 7%;
}
.f:-ms-input-placeholder{
    color: var(--White, #FFF);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
padding: 7%;
}
.f::-ms-input-placeholder{
    color: var(--White, #FFF);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
padding: 7%;
}
.f::placeholder{
    color: var(--White, #FFF);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
padding: 7%;
}
.f_b{
max-width: 131px;
width: 100%;
height: 60px;
color: #2A254B;

font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
}
.ff1{
    max-width: 1370px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.stripf{
    max-width: 1277px;
    width: 100%;
height: 1px;
background: #4E4D93;
margin: 4% auto 0 auto;
}
.f2{
    max-width: 1277px;
    width: 100%;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 2% auto; 
}
.f2 p{
    color: var(--White, #FFF);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%;
}
.f2_net{
    max-width: 264px;
    width: 100%;
    height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}